.card {
    width: var(--width-card-setting);
    height: 420px;
    border: var(--color-border-card);
    border-top: none;
    border-left: none;
    transition: 0.2s ease;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    user-select: none;
    &:hover {
        transform: scale(1.03, 1.03);
    }
}

.product-container {
    position: relative;
    width: 100%;
    height: 100%;
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s ease;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.product-container:hover + .overlay-container,
.overlay-container:hover {
    opacity: 1;
    pointer-events: auto;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 20px;
    padding-left: 100px;
    transition: 0.3s ease;
    padding-top: 50px;
}

.text {
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}

.add-to-cart {
    color: #fff;
    background-color: #ff0400;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #cc0300;
    }
}
