//header section
@media screen and (max-width:1500px) {
   
    .logoText{
        text-align: center;
    }
    .logo{
        height: 40px;
    }
    .backetIcon{
        padding-left: 15px;
    }
    .mainContainer{
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .card:hover{
        transform: none;
    }
    .inputContainer input{
        width: 20vw;
    }

}


// overlay card settings

@media screen and (max-width:600px) {
    .icon-container button{
        display: flex;

        background: none;
        border: none;
        color: rgb(232, 12, 12);
    }
    .add-to-cart{
        display: none;
    }
    .text{
        margin-bottom: 0;
    }
}

@media screen and (max-width:750px) {

    .inputContainer{
        display: none;
    }
}

@media screen and (min-width:600px) {
    .icon-container button {
        display: none;
    }
}


